@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Práctica final del curso ISCP: Clase sobre Azure Pipelines </p>
</div>
